<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Mi primera Web</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<h1 class="rojo" th:text="${titulo}"></h1>
<span th:if="${usuarios.isEmpty()}">No hay usuarios registrados</span>
<table class="table table-hover table-striped" th:if="${!usuarios.isEmpty()}">
    <thead>
    <tr class="azul">
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.apellidos}"></td>
        <!--<td th:if="${usuario.email}" th:text="${usuario.email}"></td>
        <td th:if="${usuario.email == null}">Sin email</td>-->
        <td th:text="${usuario.email}?:'Sin Email'"></td>
    </tr>
    </tbody>
</table>
<img alt="imagen" th:src="@{/images/Certification.png}">
</body>
</html>